# **Jet_Flight**

## Overview

## I. Business Understanding

## II. Data Understanding

### Imports Required

In [358]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
%matplotlib inline

## Access and Read Data
I am reading my csv file using the [pandas library](https://pandas.pydata.org/docs/reference/index.html). The pandas function in the cell below reads csv files. 
It takes two parameters: 
1. A data file. (required)  
2. An encoding byte. (optional)

In [359]:
df_original = pd.read_csv("data/AviationData.csv", encoding='ISO-8859-1')
df_original.head()

c:\Users\user\anaconda3\envs\learn-env\lib\site-packages\IPython\core\interactiveshell.py:3145: DtypeWarning: Columns (6,7,28) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.9222,-81.8781,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980

Display information about our data and get better visual understanding

In [360]:
df_original.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      88889 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50249 non-null  object
 9   Airport.Name            52790 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87572 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81812 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82508 non-null  object
 30  Publication.Date        75118 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.0+ MB

**Create a copy** of the original data to avoid confusion during cleaning and imputation.

In [361]:
new_aviation_data = df_original.copy()

## III. Data Preparation
This step ensures data is in suitable state for analysing, visualizing and deriving suitable insights to solve the business problem.
 
I am will be:
1. Cleaning raw data.
2. Organizing raw data.

In [362]:
# Display information from our newly created copy of dataset 
new_aviation_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      88889 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50249 non-null  object
 9   Airport.Name            52790 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87572 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81812 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82508 non-null  object
 30  Publication.Date        75118 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.0+ MB

### Data Cleaning
* Correcting errors
* Handling missing values
* Removing duplicates

From the code cell above, we can see the **naming convention of columns** does not align with programmers rule.

The column names contain a dot in between, which is wrong for programmers. So, we need to ensure it is correct.

In [363]:
'''In this code cell, I will replace the '.' with '_' in every column name
using the pandas replace method '''

new_aviation_data.columns = new_aviation_data.columns.str.replace('.', '_')
new_aviation_data.columns

Index(['Event_Id', 'Investigation_Type', 'Accident_Number', 'Event_Date',
       'Location', 'Country', 'Latitude', 'Longitude', 'Airport_Code',
       'Airport_Name', 'Injury_Severity', 'Aircraft_damage',
       'Aircraft_Category', 'Registration_Number', 'Make', 'Model',
       'Amateur_Built', 'Number_of_Engines', 'Engine_Type', 'FAR_Description',
       'Schedule', 'Purpose_of_flight', 'Air_carrier', 'Total_Fatal_Injuries',
       'Total_Serious_Injuries', 'Total_Minor_Injuries', 'Total_Uninjured',
       'Weather_Condition', 'Broad_phase_of_flight', 'Report_Status',
       'Publication_Date'],
      dtype='object')

Identify any occurrence of missing values and return the number of counts it appears in each column of our dataset.

In [364]:
new_aviation_data.isna().sum()

Event_Id                      0
Investigation_Type            0
Accident_Number               0
Event_Date                    0
Location                     52
Country                     226
Latitude                  54507
Longitude                 54516
Airport_Code              38640
Airport_Name              36099
Injury_Severity            1000
Aircraft_damage            3194
Aircraft_Category         56602
Registration_Number        1317
Make                         63
Model                        92
Amateur_Built               102
Number_of_Engines          6084
Engine_Type                7077
FAR_Description           56866
Schedule                  76307
Purpose_of_flight          6192
Air_carrier               72241
Total_Fatal_Injuries      11401
Total_Serious_Injuries    12510
Total_Minor_Injuries      11933
Total_Uninjured            5912
Weather_Condition          4492
Broad_phase_of_flight     27165
Report_Status              6381
Publication_Date          13771
dtype: int64

**Remove Duplicates**

Check for the count of duplicates in every column

In [365]:
'''created a function to iterate over each column 
and check for duplicates and their count.'''

def column_duplicates():
    for data_cols in new_aviation_data.columns:
        print(f'{data_cols}: = {new_aviation_data[data_cols].duplicated().sum()}' )

In [366]:
# call the column_duplicates function to print each column with its count of duplicates

column_duplicates()

Event_Id: = 938
Investigation_Type: = 88887
Accident_Number: = 26
Event_Date: = 74107
Location: = 61130
Country: = 88669
Latitude: = 63296
Longitude: = 61732
Airport_Code: = 78513
Airport_Name: = 64017
Injury_Severity: = 88779
Aircraft_damage: = 88884
Aircraft_Category: = 88873
Registration_Number: = 9783
Make: = 80651
Model: = 76570
Amateur_Built: = 88886
Number_of_Engines: = 88881
Engine_Type: = 88875
FAR_Description: = 88857
Schedule: = 88885
Purpose_of_flight: = 88862
Air_carrier: = 75298
Total_Fatal_Injuries: = 88763
Total_Serious_Injuries: = 88838
Total_Minor_Injuries: = 88831
Total_Uninjured: = 88509
Weather_Condition: = 88884
Broad_phase_of_flight: = 88876
Report_Status: = 71813
Publication_Date: = 85964

Event_id is my primary key which should be considered unique. I will check for duplicates and delete the entire row from my dataset.

In [367]:
'''Returns True if the column contains duplicates'''
new_aviation_data['Event_Id'].duplicated().any()

True

In [368]:
# False - unique values
# True - duplicates
'''get the count of unique values and duplicates'''
new_aviation_data['Event_Id'].duplicated().value_counts()

False    87951
True       938
Name: Event_Id, dtype: int64

In [369]:
# Drop all duplicates by Event_Id column
# use ignore_index in the methods parameter to also update indexing
new_aviation_data = new_aviation_data.drop_duplicates(subset = ['Event_Id'], ignore_index=True )
new_aviation_data

,Event_Id,Investigation_Type,Accident_Number,Event_Date,Location,Country,Latitude,Longitude,Airport_Code,Airport_Name,...,Purpose_of_flight,Air_carrier,Total_Fatal_Injuries,Total_Serious_Injuries,Total_Minor_Injuries,Total_Uninjured,Weather_Condition,Broad_phase_of_flight,Report_Status,Publication_Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.9222,-81.8781,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87946,20221227106491,Accident,ERA23LA093,2022-12-26,"Annapolis, MD",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,1.0,0.0,0.0,NaN,NaN,NaN,29-12-2022
87947,20221227106494,Accident,ERA23LA095,2022-12-26,"Hampton, NH",United States,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
87948,20221227106497,Accident,WPR23LA075,2022-12-26,"Payson, AZ",United States,341525N,1112021W,PAN,PAYSON,...,Personal,NaN,0.0,0.0,0.0,1.0,VMC,NaN,NaN,27-12-2022
87949,20221227106498,Accident,WPR23LA076,2022-12-26,"Morgan, UT",United States,NaN,NaN,NaN,NaN,...,Personal,MC CESSNA 210N LLC,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
87950,20221230106513,Accident,ERA23LA097,2022-12-29,"Athens, GA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,1.0,0.0,1.0,NaN,NaN,NaN,30-12-2022

In [370]:
# Total count of null values after dropping events_id duplicates
new_aviation_data.isna().sum()

Event_Id                      0
Investigation_Type            0
Accident_Number               0
Event_Date                    0
Location                     52
Country                     222
Latitude                  53739
Longitude                 53748
Airport_Code              38350
Airport_Name              35834
Injury_Severity             990
Aircraft_damage            3103
Aircraft_Category         55770
Registration_Number        1285
Make                         63
Model                        92
Amateur_Built               100
Number_of_Engines          6027
Engine_Type                7024
FAR_Description           56036
Schedule                  75591
Purpose_of_flight          6122
Air_carrier               71418
Total_Fatal_Injuries      11267
Total_Serious_Injuries    12322
Total_Minor_Injuries      11760
Total_Uninjured            5863
Weather_Condition          4473
Broad_phase_of_flight     27114
Report_Status              6361
Publication_Date          13599
dtype: int64

In [371]:
''' call the column_duplicates function to 
print each column with its count of duplicates.
Confirm Events_id has no duplicates '''

column_duplicates()

Event_Id: = 0
Investigation_Type: = 87949
Accident_Number: = 0
Event_Date: = 73169
Location: = 60205
Country: = 87731
Latitude: = 62358
Longitude: = 60794
Airport_Code: = 77575
Airport_Name: = 63079
Injury_Severity: = 87841
Aircraft_damage: = 87946
Aircraft_Category: = 87935
Registration_Number: = 9582
Make: = 79748
Model: = 75717
Amateur_Built: = 87948
Number_of_Engines: = 87943
Engine_Type: = 87937
FAR_Description: = 87920
Schedule: = 87947
Purpose_of_flight: = 87924
Air_carrier: = 74412
Total_Fatal_Injuries: = 87825
Total_Serious_Injuries: = 87900
Total_Minor_Injuries: = 87893
Total_Uninjured: = 87571
Weather_Condition: = 87946
Broad_phase_of_flight: = 87938
Report_Status: = 70875
Publication_Date: = 85026

**Handling Missing Values**

Display each Column and its null counts as Percentage

In [372]:
''' Get the mean of each column and multiply by 100,
to make it a percentage number '''
new_aviation_data.isna().mean() * 100

Event_Id                   0.000000
Investigation_Type         0.000000
Accident_Number            0.000000
Event_Date                 0.000000
Location                   0.059124
Country                    0.252413
Latitude                  61.101068
Longitude                 61.111301
Airport_Code              43.603825
Airport_Name              40.743141
Injury_Severity            1.125627
Aircraft_damage            3.528101
Aircraft_Category         63.410308
Registration_Number        1.461041
Make                       0.071631
Model                      0.104604
Amateur_Built              0.113700
Number_of_Engines          6.852679
Engine_Type                7.986265
FAR_Description           63.712749
Schedule                  85.946720
Purpose_of_flight          6.960694
Air_carrier               81.202033
Total_Fatal_Injuries      12.810542
Total_Serious_Injuries    14.010074
Total_Minor_Injuries      13.371082
Total_Uninjured            6.666212
Weather_Condition          5.085786
Broad_phase_of_flight     30.828530
Report_Status              7.232436
Publication_Date          15.462019
dtype: float64

Make column : Dealing with missing values

In [373]:
# False - not null
# True - null values
'''get the count of values and null values'''
new_aviation_data['Make'].isna().value_counts()

False    87888
True        63
Name: Make, dtype: int64

In [374]:
new_aviation_data['Make'].value_counts()

Cessna                21925
Piper                 11903
CESSNA                 4914
Beech                  4290
PIPER                  2841
                      ...
Packard/squire            1
FOXAIR LLC                1
Clunis                    1
Hook                      1
FLY HARD TRIKE INC        1
Name: Make, Length: 8202, dtype: int64

In [375]:
# Grab the mode of the Make column and place it in the null values

new_aviation_data['Make'] = new_aviation_data['Make'].fillna(new_aviation_data['Make'].mode()[0])

In [376]:
# confirm zero null values
new_aviation_data['Make'].isna().any()

False

Mode column : Dealing with missing values

In [377]:
# False - not null
# True - null values
'''get the count of values and null values'''
new_aviation_data['Model'].isna().value_counts()

False    87859
True        92
Name: Model, dtype: int64

In [378]:
new_aviation_data['Model'].value_counts()

152          2313
172          1743
172N         1144
PA-28-140     925
150           820
             ...
757-212         1
QUICKY 2        1
SISU 1A         1
SV4B            1
280CB           1
Name: Model, Length: 12233, dtype: int64

In [379]:
# Grab the mode of the Model column and place it in the null values
new_aviation_data['Model'] = new_aviation_data['Model'].fillna(new_aviation_data['Model'].mode()[0])

In [380]:
# confirm zero null values
new_aviation_data['Model'].isna().any()

False

Weather_Condition column: Dealing with missing values

In [381]:
# view of the column value counts
new_aviation_data['Weather_Condition'].value_counts()

VMC    76417
IMC     5949
UNK      850
Unk      262
Name: Weather_Condition, dtype: int64

In [382]:
# Grab the mode and replace the null values with the mode
new_aviation_data['Weather_Condition'] = new_aviation_data['Weather_Condition'].fillna(new_aviation_data['Weather_Condition'].mode()[0])

In [383]:
# confirm zero null values
new_aviation_data['Weather_Condition'].isna().sum()

0

In [393]:
new_aviation_data.isna().sum()

Event_Id                      0
Investigation_Type            0
Accident_Number               0
Event_Date                    0
Location                     52
Country                     222
Latitude                  53739
Longitude                 53748
Airport_Code              38350
Airport_Name              35834
Injury_Severity             990
Aircraft_damage            3103
Aircraft_Category         55770
Registration_Number        1285
Make                          0
Model                         0
Amateur_Built               100
Number_of_Engines          6027
Engine_Type                7024
FAR_Description           56036
Schedule                  75591
Purpose_of_flight          6122
Air_carrier               71418
Total_Fatal_Injuries      11267
Total_Serious_Injuries    12322
Total_Minor_Injuries      11760
Total_Uninjured            5863
Weather_Condition             0
Broad_phase_of_flight     27114
Report_Status              6361
Publication_Date          13599
dtype: int64